.elements {
    padding: 0 0 67px;
    margin: 0 200px;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 575px) {
    .elements {
        gap: 20px;
        margin-left: 19px;
        margin-right: 19px;
        padding-bottom: 48px;
    }
}