.elements__button_like {
    width: 22px;
    height: 19px;
    background-image: url(../../../../images/elements__Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 10px;
}

.elements__button_like:hover {
    opacity: 0.5;
}

.elements__button_like:active {
    background: #000000;
}